.page-moj-profil{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.page-moj-profil .tabela{
    width: 100%;
    margin-top: 50px;
    width: fit-content;
    background-color: rgb(140, 200, 255);
    border-radius: 10px;
    overflow: hidden;
}
.page-moj-profil .tabela h4{
    text-align: center;
}
.page-moj-profil .tabela table{
    border-radius: 5px;
}
.page-moj-profil .tabela tr:nth-of-type(odd){
    background: lightblue;
}
.page-moj-profil .tabela td{
    padding: 4px 25px;
    min-width: 250px;
}
