<div class="page-moj-profil">
    <div class="tabela">
        <h4>Podaci o korisniku</h4>
        <table>
            <tr *ngFor="let atribut of user | keyvalue">
                <td>{{atribut.key}}</td>
                <td>{{atribut.value}}</td>
            </tr>
        </table>
        <div class="options">
          <button mat-raised-button color="primary" (click)="izmeniProfil()" routerLink="/izmeniKorisnika">
            Izmeni svoj profil
          </button>
        </div>
    </div>
</div>
