.page-izmena-predmeta{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}
.page-izmena-predmeta .tabela{
  width: 100%;
  margin-top: 50px;
  width: fit-content;
  background-color: rgb(140, 200, 255);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}
.page-izmena-predmeta .tabela h4{
  text-align: center;
}
.page-izmena-predmeta .tabela table{
  border-radius: 5px;
}
.page-izmena-predmeta .tabela tr:nth-of-type(odd){
  background: lightblue;
}
.page-izmena-predmeta .tabela td{
  padding: 4px 25px;
  min-width: 250px;
  text-align: center;
}
.page-izmena-predmeta .tabela .opcije button{
  margin: 0 5px;
}
