/* You can add global styles to this file, and also import other style files */
body{
    padding: 0;
    padding-top: 100px;
    margin: 0 !important;
}

:root {
    --blue-light: rgb(106, 183, 255);
    --green: rgb(0, 158, 47);
}

*{
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
